*{
    padding: 0px;
    margin: 0px;
}
body{
    background: rgb(17, 28, 44);
}
.colorEntrada{
    background-color: rgba(41, 62, 88, 0.904);
}
.colorSalida{
    background-color: rgb(30, 42, 65);
}
form.FormularioE{
    margin: auto;
    background: rgb(179, 127, 31);
    border-radius: 5px;
}
div.formDatosE{
    margin: auto;
}
.aparecer{
    display: none;
}
.modal-body{
    background-color: rgb(6, 30, 53);
    color: rgba(241, 161, 42, 0.904);
}
.modal-header , .modal-footer{
    background-color: rgb(214, 162, 18);
    color: rgb(121, 8, 8);
    border-bottom:none;
    border-top:none;
}
.btn-secondary {
    background-color: rgb(136, 8, 3)!important;
    border: none;
    color:rgb(214, 162, 18) ;
}
.btn-primary{
    background-color: rgb(7, 42, 75)!important;
    border: none;
    color: rgba(83, 82, 81, 0.904);

}
.tabledark{
    background-color: rgb(56, 79, 114);
    color: rgb(141, 162, 182);
    
}
.bgTableHead{
    background-color: rgb(7, 42, 75);
}
.select2-selection__rendered{
    background-color: rgb(238, 206, 24);
    border-radius: 4px;
  
    
}


.select2-container--default .select2-selection--single{
    border: none !important;
    margin-bottom: 10px;
    
}
.select2-results {
    background-color: rgb(56, 79, 114);
}
i.llave{
    font-size: 100%;
    
}